.book-intro-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.book-image-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.book-stars {
  font-size: 18px;
  margin-bottom: 10px;
}

.book-price {
  font-size: 20px;
  font-weight: bold;
  color: #ff5733;
  margin-bottom: 10px;
}

.book-description {
  font-size: 16px;
  line-height: 1.5;
  max-height: 150px;
  overflow: auto;
  
}
